caio-particle-filter
yolo/object-detection-opencv-master
*.avi
*.mp4
yolo-coco/

drone/openpose-master/

drone/TelloPy-develop-0.7.0/

drone/telloCV-master/

drone/tello-openpose-master/

*.cfg

yolo/yolo-coco-tiny/yolov3.weights
